//colors
$color: (
    white: (
        base: rgba(255,255,255,1),
    ),
    black: (
        base: rgba(0,0,0,1),
    ),
    gray: (
        base: rgba(128,128,128,1),
    ),
    white-smoke: (
        base: #f0f0f0,
    )
);