// footer menu

.footer-menu {
    //
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
}

.footer-menu__item {
    padding: 5px 0;
}

.footer-menu__link {
    //
}

.footer-menu__text {
  color: color(white);
}