// tag-list

.tag-list {
  //
}

.tag-list__list {
  display: flex;
}

.tag-list__item {
  background-color: color(white-smoke);
  padding: 5px;
  margin-right: 5px;
}

.tag-list__link {
  //
}

.tag-list__text {
  //
}
